@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.modal-gradient {
    background: linear-gradient(135deg, #FFB938 0%, #F06543 50%, #FF4D4D 100%);
}

